*{
    margin: 0;
    padding: 0;
}

body {
    background-color: grey;
}

.application {
    display: flex;
    align-items: center;
}

.newApplication {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    background-color: rgba( 255, 255, 255, 0.8);
    border-radius: 20px;
    border: 2px solid yellow;
    margin-top: 3%;
    margin-left: 3%;
}

.menu {
    margin-left: 2%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
}

.create {
    border-radius: 5px;
    border: none;
}

.redact {
    margin-top: 10%;
    border: none;
    border-radius: 5px;
}

.stop {
    margin-top: 10%;
    border: none;
    border-radius: 5px;
}

.newApplication > h2 {
    font-size: 25pt;
    margin-bottom: 5%;
}

.application-form {
    border: 2px solid black;
    padding: 4%;
    border-radius: 10px;
    width: 70%;
}

.application-form > p:nth-of-type(2) {
    display: flex;
    align-items: center;
}

input, textarea {
    padding: 2%;
    background-color: khaki;
}

input[type="submit"] {
    background-color: khaki;
    border-radius: 5px;
    width: 50%;
}

input[type="submit"]:active {
    background-color:goldenrod;
}

.application-form > p:not(p:nth-of-type(3),p:nth-of-type(4)){
    margin-bottom: 8%;
}

.application-form > p:nth-of-type(4) {
    margin-top: 3%;
}

.application-form > p:nth-of-type(4) > b {
    color: red;
}

.application-form > p:nth-of-type(4) > ul > li {
    margin-left: 3%;
    color: red;
}

.noneApplications {
    margin: 10% 10% 10% 0;
    padding: 15%;
    background-color:khaki;
    border-radius: 20px;
    border: 1px solid black;
    width: 100%;
}

.application-div > ul > div {
    margin: 13% 13% 13% 0;
    padding: 5%;
    background-color:khaki;
    border-radius: 20px;
    border: 1px solid black;
    width: 90%;
}

.application-div > ul > div > ul > li {
    margin-left: 5%;
}

.application-div > ul > div {
    margin-bottom: 5%;
}

.filtered-applications {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    background-color: rgba( 255, 255, 255, 0.8);
    border-radius: 20px;
    border: 2px solid yellow;
    margin-top: 3%;
    margin-left: 2%;
}

.filtered-applications > p {
    margin: 13%;
    padding: 5%;
    background-color:khaki;
    border-radius: 20px;
    border: 1px solid black;
}

.filtered-applications > ul > div {
    margin: 13% 13% 13% 0;
    padding: 5%;
    background-color:khaki;
    border-radius: 20px;
    border: 1px solid black;
    width: 90%;
}

.filtered-applications > ul > div > ul > li {
    margin-left: 5%;
}

.filtered-applications > h2 {
    font-size: 25pt;
}

.completed-applications {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    background-color: rgba( 255, 255, 255, 0.8);
    border-radius: 20px;
    border: 2px solid yellow;
    margin-top: 3%;
    margin-left: 2%;
}

.completed-applications > p {
    margin: 13%;
    padding: 5%;
    background-color:khaki;
    border-radius: 20px;
    border: 1px solid black;
}

.completed-applications > h2 {
    font-size: 25pt;
}

.completed-applications > ul > div {
    margin: 13% 13% 13% 0;
    padding: 5%;
    background-color:khaki;
    border-radius: 20px;
    border: 1px solid black;
    width: 90%;
}

.completed-applications > ul > div > ul > li {
    margin-left: 5%;
}

.delete {
    border-radius: 20px;
    width: 50%;
    margin-top: 5%;
    margin-left: 20%;
}